body {
    margin: 0;
    font-family: 'UDEV Gothic', 'UDEV Gothic JPDOC', 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #222;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}